@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  line-height: 1;
}

ul {
  list-style: none;
}

a:link,
a:visited {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

input {
  color: inherit;
  font-family: inherit;
  border: none;
  outline: none;
}

button {
  cursor: pointer;
}
